.main-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.main img {
    width: 100%;
    margin-left: 1rem;
}

.text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    color: blueviolet;
}

.text-part h1 {
    font-size: 3rem;
}

.review-part {
    text-align: center;
}

.review-part button {
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: blueviolet;
    margin-bottom: 1rem;
}

.review-part button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;

}